body {
  text-align: left;
}

#title-div {
  background: #F4EEFF;
  padding-bottom: 35px;
}
.navbar-brand {
  margin-right: 30%;
  color: black;
}


 /* Add custom styles to make images the same size */
 .card-img-top {
  height: 300px; /* Adjust this value as needed */
  width: auto;
  object-fit: cover; /* This ensures the images maintain their aspect ratio */
  display: block;
  margin: 0 auto; /* Center the images horizontally */
}



#feature-div{
  background-color:#DCD6F7;
  
}

#jumbotron-div {
  background-color:#A6B1E1;
}

#jumbotron-image {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#footer-div {
  background-color:#424874;
  color: white;
  text-align: center;
}

